.board {
  padding: 20px 50px 50px;
  display: inline-block;
  border: 1px solid #fff;
  background: #eee;
}
.board--cabbaged {
  opacity: 0.7;
}

.board__status {
  margin: 0 0 20px;
  font-size: 30px;
}

.board__grid {
}
.board__grid-row {
  display: flex;
  flex-direction: row;
}
