.square {
  width: 30px;
  height: 30px;
  background: #fafafa;
  float: left;
  margin: 0;
  box-shadow: 1px 0 0 0 #ccc, 
    0 1px 0 0 #ccc, 
    1px 1px 0 0 #ccc,
    1px 0 0 0 #ccc inset, 
    0 1px 0 0 #ccc inset;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.square--f:after {
  content: "🚩";
}
.square--mc {
  background: red;
}
.square--mc:after,
.square--m:after {
  content: "💣";
}
.square--1:after {
  content: "1";
  color: blue;
}
.square--2:after {
  content: "2";
  color: green;
}
.square--3:after {
  content: "3";
  color: red;
}
.square--4:after {
  content: "4";
  color: navy;
}
.square--5:after {
  content: "5";
  color: purple;
}
.square--6:after {
  content: "6";
  color: orange;
}
.square--7:after {
  content: "7";
  color: black;
}
.square--8:after {
  content: "8";
  color: brown;
}
.square--c {
  background: #ddd;
}
